black
certifi
charset-normalizer
click
docker-pycreds
gitdb
GitPython
idna
Jinja2
joblib
MarkupSafe
mypy-extensions
numpy
#nvidia-cublas-cu11==11.10.3.66
#nvidia-cuda-nvrtc-cu11==11.7.99
#nvidia-cuda-runtime-cu11==11.7.99
#nvidia-cudnn-cu11==8.5.0.96
packaging
pandas
pathspec
pathtools
platformdirs
plotly
promise
protobuf
psutil
pyg-lib
pyparsing
python-dateutil
pytz
PyYAML
requests
scikit-learn
scipy
sentry-sdk
setproctitle
shortuuid
six
smmap
tenacity
threadpoolctl
tomli
torchmetrics
tqdm
typing-extensions
urllib3
